@import 'tailwindcss';

.dv-svg {
	display: inline-block;
	fill: currentcolor;
	line-height: 1;
	stroke: currentcolor;
	stroke-width: 0;
}
.dockview-theme {
	--dv-paneview-active-outline-color: var(--color-blue-400);
	--dv-tabs-and-actions-container-font-size: 0.8rem;
	--dv-tabs-and-actions-container-height: 2rem;
	--dv-drag-over-background-color: var(--color-slate-800);
	--dv-drag-over-border-color: var(--color-slate-50);
	--dv-tabs-container-scrollbar-color: var(--color-slate-400);
	--dv-icon-hover-background-color: var(--color-slate-700);
	--dv-floating-box-shadow: 8px 8px 8px 0px var(--color-slate-400);
	--dv-overlay-z-index: 999;
	--dv-group-view-background-color: var(--color-slate-900);
	--dv-tabs-and-actions-container-background-color: var(--color-zinc-900);
	--dv-activegroup-visiblepanel-tab-background-color: var(--color-zinc-950);
	--dv-activegroup-hiddenpanel-tab-background-color: var(--color-zinc-900);
	--dv-inactivegroup-visiblepanel-tab-background-color: var(--color-zinc-950);
	--dv-inactivegroup-hiddenpanel-tab-background-color: var(--color-zinc-900);
	--dv-tab-divider-color: var(--color-blue-900);
	--dv-activegroup-visiblepanel-tab-color: var(--color-slate-50);
	--dv-activegroup-hiddenpanel-tab-color: var(--color-slate-200);
	--dv-inactivegroup-visiblepanel-tab-color: var(--color-slate-300);
	--dv-inactivegroup-hiddenpanel-tab-color: var(--color-slate-400);
	--dv-separator-border: var(--color-slate-400);
	--dv-paneview-header-border-color: var(--color-blue-900);
}

.dv-drop-target {
	position: relative;
}
.dv-drop-target > .dv-drop-target-dropzone {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 1000;
	pointer-events: none;
}
.dv-drop-target > .dv-drop-target-dropzone > .dv-drop-target-selection {
	position: relative;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	background-color: var(--dv-drag-over-background-color);
	transition: top 70ms ease-out, left 70ms ease-out, width 70ms ease-out, height 70ms ease-out, opacity 0.15s ease-out;
	will-change: transform;
	pointer-events: none;
}
.dv-drop-target
	> .dv-drop-target-dropzone
	> .dv-drop-target-selection.dv-drop-target-top.dv-drop-target-small-vertical {
	border-top: 1px solid var(--dv-drag-over-border-color);
}
.dv-drop-target
	> .dv-drop-target-dropzone
	> .dv-drop-target-selection.dv-drop-target-bottom.dv-drop-target-small-vertical {
	border-bottom: 1px solid var(--dv-drag-over-border-color);
}
.dv-drop-target
	> .dv-drop-target-dropzone
	> .dv-drop-target-selection.dv-drop-target-left.dv-drop-target-small-horizontal {
	border-left: 1px solid var(--dv-drag-over-border-color);
}
.dv-drop-target
	> .dv-drop-target-dropzone
	> .dv-drop-target-selection.dv-drop-target-right.dv-drop-target-small-horizontal {
	border-right: 1px solid var(--dv-drag-over-border-color);
}
.dv-dockview {
	position: relative;
	background-color: var(--dv-group-view-background-color);
}
.dv-dockview .dv-watermark-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
.dv-dockview .dv-overlay-render-container {
	position: relative;
}

.dv-groupview.dv-active-group > .dv-tabs-and-actions-container > .dv-tabs-container > .dv-tab.dv-active-tab {
	background-color: var(--dv-activegroup-visiblepanel-tab-background-color);
	color: var(--dv-activegroup-visiblepanel-tab-color);
}
.dv-groupview.dv-active-group > .dv-tabs-and-actions-container > .dv-tabs-container > .dv-tab.dv-inactive-tab {
	background-color: var(--dv-activegroup-hiddenpanel-tab-background-color);
	color: var(--dv-activegroup-hiddenpanel-tab-color);
}
.dv-groupview.dv-inactive-group > .dv-tabs-and-actions-container > .dv-tabs-container > .dv-tab.dv-active-tab {
	background-color: var(--dv-inactivegroup-visiblepanel-tab-background-color);
	color: var(--dv-inactivegroup-visiblepanel-tab-color);
}
.dv-groupview.dv-inactive-group > .dv-tabs-and-actions-container > .dv-tabs-container > .dv-tab.dv-inactive-tab {
	background-color: var(--dv-inactivegroup-hiddenpanel-tab-background-color);
	color: var(--dv-inactivegroup-hiddenpanel-tab-color);
}

/**
 * when a tab is dragged we lose the above stylings because they are conditional on parent elements
 * therefore we also set some stylings for the dragging event
 **/
.dv-tab.dv-tab-dragging {
	background-color: var(--dv-activegroup-visiblepanel-tab-background-color);
	color: var(--dv-activegroup-visiblepanel-tab-color);
}
.dv-groupview {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: var(--dv-group-view-background-color);
	overflow: hidden;
}
.dv-groupview:focus {
	outline: none;
}
.dv-groupview > .dv-content-container {
	flex-grow: 1;
	min-height: 0;
	outline: none;
}
.dv-root-wrapper {
	height: 100%;
	width: 100%;
}
.dv-grid-view,
.dv-branch-node {
	height: 100%;
	width: 100%;
}
.dv-debug .dv-resize-container .dv-resize-handle-top {
	background-color: red;
}
.dv-debug .dv-resize-container .dv-resize-handle-bottom {
	background-color: green;
}
.dv-debug .dv-resize-container .dv-resize-handle-left {
	background-color: yellow;
}
.dv-debug .dv-resize-container .dv-resize-handle-right {
	background-color: blue;
}
.dv-debug .dv-resize-container .dv-resize-handle-topleft,
.dv-debug .dv-resize-container .dv-resize-handle-topright,
.dv-debug .dv-resize-container .dv-resize-handle-bottomleft,
.dv-debug .dv-resize-container .dv-resize-handle-bottomright {
	background-color: cyan;
}

.dv-resize-container {
	--dv-overlay-z-index: var(--dv-overlay-z-index, 999);
	position: absolute;
	z-index: calc(var(--dv-overlay-z-index) - 2);
	border: 1px solid var(--dv-tab-divider-color);
	box-shadow: var(--dv-floating-box-shadow);
}
.dv-resize-container.dv-hidden {
	display: none;
}
.dv-resize-container.dv-resize-container-dragging {
	opacity: 0.5;
}
.dv-resize-container .dv-resize-handle-top {
	height: 4px;
	width: calc(100% - 8px);
	left: 4px;
	top: -2px;
	z-index: var(--dv-overlay-z-index);
	position: absolute;
	cursor: ns-resize;
}
.dv-resize-container .dv-resize-handle-bottom {
	height: 4px;
	width: calc(100% - 8px);
	left: 4px;
	bottom: -2px;
	z-index: var(--dv-overlay-z-index);
	position: absolute;
	cursor: ns-resize;
}
.dv-resize-container .dv-resize-handle-left {
	height: calc(100% - 8px);
	width: 4px;
	left: -2px;
	top: 4px;
	z-index: var(--dv-overlay-z-index);
	position: absolute;
	cursor: ew-resize;
}
.dv-resize-container .dv-resize-handle-right {
	height: calc(100% - 8px);
	width: 4px;
	right: -2px;
	top: 4px;
	z-index: var(--dv-overlay-z-index);
	position: absolute;
	cursor: ew-resize;
}
.dv-resize-container .dv-resize-handle-topleft {
	height: 4px;
	width: 4px;
	top: -2px;
	left: -2px;
	z-index: var(--dv-overlay-z-index);
	position: absolute;
	cursor: nw-resize;
}
.dv-resize-container .dv-resize-handle-topright {
	height: 4px;
	width: 4px;
	right: -2px;
	top: -2px;
	z-index: var(--dv-overlay-z-index);
	position: absolute;
	cursor: ne-resize;
}
.dv-resize-container .dv-resize-handle-bottomleft {
	height: 4px;
	width: 4px;
	left: -2px;
	bottom: -2px;
	z-index: var(--dv-overlay-z-index);
	position: absolute;
	cursor: sw-resize;
}
.dv-resize-container .dv-resize-handle-bottomright {
	height: 4px;
	width: 4px;
	right: -2px;
	bottom: -2px;
	z-index: var(--dv-overlay-z-index);
	position: absolute;
	cursor: se-resize;
}
.dv-render-overlay {
	--dv-overlay-z-index: var(--dv-overlay-z-index, 999);
	position: absolute;
	z-index: 1;
	height: 100%;
}
.dv-render-overlay.dv-render-overlay-float {
	z-index: calc(var(--dv-overlay-z-index) - 1);
}

.dv-debug .dv-render-overlay {
	outline: 1px solid red;
	outline-offset: -1;
}
.dv-pane-container {
	height: 100%;
	width: 100%;
}
.dv-pane-container.dv-animated .dv-view {
	transition-duration: 0.15s;
	transition-timing-function: ease-out;
}
.dv-pane-container .dv-view {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding: 0 !important;
}
.dv-pane-container .dv-view:not(:first-child)::before {
	background-color: transparent !important;
}
.dv-pane-container .dv-view:not(:first-child) .dv-pane > .dv-pane-header {
	border-top: 1px solid var(--dv-paneview-header-border-color);
}
.dv-pane-container .dv-view .dv-default-header {
	background-color: var(--dv-group-view-background-color);
	color: var(--dv-activegroup-visiblepanel-tab-color);
	display: flex;
	padding: 0 8px;
	cursor: pointer;
}
.dv-pane-container .dv-view .dv-default-header .dv-pane-header-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}
.dv-pane-container .dv-view .dv-default-header > span {
	padding-left: 8px;
	flex-grow: 1;
}
.dv-pane-container:first-of-type > .dv-pane > .dv-pane-header {
	border-top: none !important;
}
.dv-pane-container .dv-pane {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100%;
}
.dv-pane-container .dv-pane .dv-pane-header {
	box-sizing: border-box;
	user-select: none;
	position: relative;
	outline: none;
}
.dv-pane-container .dv-pane .dv-pane-header.dv-pane-draggable {
	cursor: pointer;
}
.dv-pane-container .dv-pane .dv-pane-header:focus:before,
.dv-pane-container .dv-pane .dv-pane-header:focus-within:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	content: '';
	pointer-events: none;
	outline: 1px solid;
	outline-width: -1px;
	outline-style: solid;
	outline-offset: -1px;
	outline-color: var(--dv-paneview-active-outline-color);
}
.dv-pane-container .dv-pane .dv-pane-body {
	overflow-y: auto;
	overflow-x: hidden;
	flex-grow: 1;
	position: relative;
	outline: none;
}
.dv-pane-container .dv-pane .dv-pane-body:focus:before,
.dv-pane-container .dv-pane .dv-pane-body:focus-within:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	content: '';
	pointer-events: none;
	outline: 1px solid;
	outline-width: -1px;
	outline-style: solid;
	outline-offset: -1px;
	outline-color: var(--dv-paneview-active-outline-color);
}
.dv-debug .dv-split-view-container .dv-sash-container .dv-sash.dv-enabled {
	background-color: black;
}
.dv-debug .dv-split-view-container .dv-sash-container .dv-sash.dv-disabled {
	background-color: orange;
}
.dv-debug .dv-split-view-container .dv-sash-container .dv-sash.dv-maximum {
	background-color: green;
}
.dv-debug .dv-split-view-container .dv-sash-container .dv-sash.dv-minimum {
	background-color: red;
}

.dv-split-view-container {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.dv-split-view-container.dv-splitview-disabled > .dv-sash-container > .dv-sash {
	pointer-events: none;
}
.dv-split-view-container.dv-animation .dv-view,
.dv-split-view-container.dv-animation .dv-sash {
	transition-duration: 0.15s;
	transition-timing-function: ease-out;
}
.dv-split-view-container.dv-horizontal {
	height: 100%;
}
.dv-split-view-container.dv-horizontal > .dv-sash-container > .dv-sash {
	height: 100%;
	width: 4px;
}
.dv-split-view-container.dv-horizontal > .dv-sash-container > .dv-sash.dv-enabled {
	cursor: ew-resize;
}
.dv-split-view-container.dv-horizontal > .dv-sash-container > .dv-sash.dv-disabled {
	cursor: default;
}
.dv-split-view-container.dv-horizontal > .dv-sash-container > .dv-sash.dv-maximum {
	cursor: w-resize;
}
.dv-split-view-container.dv-horizontal > .dv-sash-container > .dv-sash.dv-minimum {
	cursor: e-resize;
}
.dv-split-view-container.dv-horizontal > .dv-view-container > .dv-view:not(:first-child)::before {
	height: 100%;
	width: 1px;
}
.dv-split-view-container.dv-vertical {
	width: 100%;
}
.dv-split-view-container.dv-vertical > .dv-sash-container > .dv-sash {
	width: 100%;
	height: 4px;
}
.dv-split-view-container.dv-vertical > .dv-sash-container > .dv-sash.dv-enabled {
	cursor: ns-resize;
}
.dv-split-view-container.dv-vertical > .dv-sash-container > .dv-sash.dv-disabled {
	cursor: default;
}
.dv-split-view-container.dv-vertical > .dv-sash-container > .dv-sash.dv-maximum {
	cursor: n-resize;
}
.dv-split-view-container.dv-vertical > .dv-sash-container > .dv-sash.dv-minimum {
	cursor: s-resize;
}
.dv-split-view-container.dv-vertical > .dv-view-container > .dv-view {
	width: 100%;
}
.dv-split-view-container.dv-vertical > .dv-view-container > .dv-view:not(:first-child)::before {
	height: 1px;
	width: 100%;
}
.dv-split-view-container .dv-sash-container {
	height: 100%;
	width: 100%;
	position: absolute;
}
.dv-split-view-container .dv-sash-container .dv-sash {
	position: absolute;
	z-index: 99;
	outline: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	touch-action: none;
}
.dv-split-view-container .dv-sash-container .dv-sash:not(.disabled):active {
	transition: background-color 0.1s ease-in-out;
	background-color: var(--dv-active-sash-color, transparent);
}
.dv-split-view-container .dv-sash-container .dv-sash:not(.disabled):hover {
	background-color: var(--dv-active-sash-color, transparent);
	transition: background-color 0.1s ease-in-out;
	transition-delay: 0.5s;
}
.dv-split-view-container .dv-view-container {
	position: relative;
	height: 100%;
	width: 100%;
}
.dv-split-view-container .dv-view-container .dv-view {
	height: 100%;
	box-sizing: border-box;
	overflow: auto;
	position: absolute;
}
.dv-split-view-container.dv-separator-border .dv-view:not(:first-child)::before {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	pointer-events: none;
	background-color: var(--dv-separator-border);
}
.dv-dragged {
	transform: translate3d(
		0,
		0,
		0
	); /* forces tab to be drawn on a separate layer (see https://github.com/microsoft/vscode/issues/18733) */
}

.dv-tab {
	flex-shrink: 0;
}
.dv-tab:focus-within,
.dv-tab:focus {
	position: relative;
}
.dv-tab:focus-within::after,
.dv-tab:focus::after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	outline: 1px solid var(--dv-tab-divider-color) !important;
	outline-offset: -1px;
	z-index: 5;
}
.dv-tab.dv-tab-dragging .dv-default-tab-action {
	background-color: var(--dv-activegroup-visiblepanel-tab-color);
}
.dv-tab.dv-active-tab .dv-default-tab .dv-default-tab-action {
	visibility: visible;
}
.dv-tab.dv-inactive-tab .dv-default-tab .dv-default-tab-action {
	visibility: hidden;
}
.dv-tab.dv-inactive-tab .dv-default-tab:hover .dv-default-tab-action {
	visibility: visible;
}
.dv-tab .dv-default-tab {
	position: relative;
	height: 100%;
	display: flex;
	min-width: 80px;
	align-items: center;
	padding: 0 8px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.dv-tab .dv-default-tab .dv-default-tab-content {
	padding: 0 8px;
	flex-grow: 1;
}
.dv-tab .dv-default-tab .dv-default-tab-action {
	padding: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}
.dv-tab .dv-default-tab .dv-default-tab-action:hover {
	border-radius: 2px;
	background-color: var(--dv-icon-hover-background-color);
}
.dv-tabs-and-actions-container {
	display: flex;
	background-color: var(--dv-tabs-and-actions-container-background-color);
	flex-shrink: 0;
	box-sizing: border-box;
	height: var(--dv-tabs-and-actions-container-height);
	font-size: var(--dv-tabs-and-actions-container-font-size);
}
.dv-tabs-and-actions-container.dv-single-tab.dv-full-width-single-tab .dv-tabs-container {
	flex-grow: 1;
}
.dv-tabs-and-actions-container.dv-single-tab.dv-full-width-single-tab .dv-tabs-container .dv-tab {
	flex-grow: 1;
}
.dv-tabs-and-actions-container.dv-single-tab.dv-full-width-single-tab .dv-void-container {
	flex-grow: 0;
}
.dv-tabs-and-actions-container .dv-void-container {
	display: flex;
	flex-grow: 1;
	cursor: grab;
}
.dv-tabs-and-actions-container .dv-tabs-container {
	display: flex;
	overflow-x: overlay;
	overflow-y: hidden;
	scrollbar-width: thin;
	/* Track */
	/* Handle */
}
.dv-tabs-and-actions-container .dv-tabs-container::-webkit-scrollbar {
	height: 3px;
}
.dv-tabs-and-actions-container .dv-tabs-container::-webkit-scrollbar-track {
	background: transparent;
}
.dv-tabs-and-actions-container .dv-tabs-container::-webkit-scrollbar-thumb {
	background: var(--dv-tabs-container-scrollbar-color);
}
.dv-tabs-and-actions-container .dv-tabs-container .dv-tab {
	-webkit-user-drag: element;
	outline: none;
	min-width: 75px;
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
}
.dv-tabs-and-actions-container .dv-tabs-container .dv-tab:not(:first-child)::before {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	pointer-events: none;
	background-color: var(--dv-tab-divider-color);
	width: 1px;
	height: 100%;
}
.dv-watermark {
	display: flex;
	height: 100%;
}
